@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 0px;
}
header{
  width: 100%;
  height: 50px;
  text-indent: center;
  margin: 0 600px;
}
aside{
  color:black;
  text-align:center;
}
.apartado{
  background-color: #A5BECC;
  width: 100%;
  height: 100px;
  padding: 0px;
  }
#texto{
  width: 100%;
  height: 100px;
  background-color: #A5BECC;
  margin: 0px auto;
  float: left;
  position: relative;
  overflow: hidden;
  font-family: 'Secular One', sans-serif;
  color: black;
}

#estiloglass{
    width: 40%;
    padding: auto 3rem;
    height: 400px;
    margin: 0px auto;
    position: relative;
    border-radius: 15px;
    background: rgba(255, 255, 255, .30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 37);
    backdrop-filter: blur(4px);
    border: solid 1px rgba(255, 255, 255, .18);
}
section{
  width: 100%;
}
/*article{
  display: inline-block;
}
#registro{
  width:100%;
  height: 700px;
}
input[type=text]{
    width: 90%;
    margin: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
}
input[type=password]{
    width: 90%;
    margin: 8px 5px;
    padding: 10px 20px;
    box-sizing: border-box;
}
input[type=email]{
    width: 90%;
    margin: 8px 5px;
    padding: 10px 20px;
    box-sizing: border-box;
}
input[type=email]:focus{
    border: 3px solid #ab46da;
    font-size: 20px;
}
input[type=submit]{
    width: 30%;
    background-color: #1A3C40;
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 5px 5px 4px #F47C7C;
    
}
input[type=submit]:hover{
    width: 30%;
    background-color: #60beb3;
    color: #1A3C40;
    border-radius: 10px;
    font-size: 10px;  
}

input[type=date]{
  width: 90%;
  margin: 8px 5px;
  padding: 10px 20px;
  box-sizing: border-box;
}
  h4{
  margin: 0px;
  font-family: 'Secular One', sans-serif;
  color: black;
  font-size: 65px;
  line-height: 100px;
  text-align: center;
  text-decoration:none;
  vertical-align: middle;
}
h2{
  margin: 0px;
  font-family: 'Secular One', sans-serif;
  color: #557B83;
  font-size: 65px;
  line-height: 100px;
  text-align: center;
  text-decoration:none;
  vertical-align: middle;
}
#registro #ingresar{
  display:inline-block;
}